* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body{
  background-color: rgb(20,20,20);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  main{
    background-color: rgb(255, 253, 219);
    width: 600px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    .quiz{
      .question{
        display: block;
        h3{
          color: rgb(64, 0, 201);
          margin: 5px 0;
        }

        button{
          padding: 3px 10px;
          border-radius: 10px;
          margin: 0 3px;
          color: rgb(20, 20, 20);
          border: 2px solid rgb(20, 20, 20);

        }
      }

      .submit-info{
        display: flex;
        align-items: center;
        margin: 20px 0;
      }

      button{
        background-color: rgb(64, 0, 201);
        color: #fff;
        margin-right: 20px;
        padding: 10px 20px;
        border: none;
        border-radius: 10px;
      }
    }
  }
}


